
/*------------------------------------------------------------------
Kant Base Skin
Version: 1.0.0;
Author: ThemeMountain
Copyright: ThemeMountain

[Table of contents]

1. Typography
2. Background Color & Color Classes
3. Section Padding
4. Header Styling
5. Header Logof
6. Header Navigation
7. Header Buttons, Dropdowns & Icons
8. Auxiliary Navigation
9. Title Areas
10. Slider & Parallax
11. Lightbox
12. Preloaders
13. Rollovers
14. Homepage
15. About Pages
16. Contact Pages
17. Project Pages
18. Pagination
19. Fullscreen Pages
20. Blog Pages
21. Form Elements
22. Social Lists
23. Footer
24. Sidebar
25. Dividers
26. Media Element Player
27. E-Commerce
28. Component Styling
29. Resolution Media Queries

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Typography]
*/

body {
  letter-spacing: 0.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #676a70;
  font-family: 'Open Sans', 'Helvetica Neue', "Noto Sans Japanese",sans-serif;
}

input, textarea, select {
  font-family: 'Open Sans', 'Helvetica Neue', "Noto Sans Japanese",sans-serif;
}

h1, h2, h3, h4, h5, h6, button, .button, .overlay-info > span > span, .project-title, .product-title, .font-alt-1, .header .navigation > ul > li > a, .side-navigation > ul > li > a, .overlay-navigation > ul > li > a, .counter, .post-info-aside, .accordion > ul > li > a, .tab-nav > li > a {
  font-family: 'Open Sans', 'Helvetica Neue', "Noto Sans Japanese",sans-serif;
}

/* Titles */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  color: #33363a;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #3fb58b;
}

h1, .h1 {
  font-size: 4.5rem;
}

h2, .h2 {
  font-size: 3.3rem;
}

h3, .h3 {
  font-size: 2.3rem;
}

h4, .h4 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.2rem;
  text-transform: none;
}

.boder-b{
    border-bottom: 1px solid #555555;
    padding-bottom: 1rem;
}
#logo_animation{
    stroke-width: 1;
}

/* Widget Titles */

.footer .widget-title {
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  a {
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: none;
    color: #fff;
  }
}

.footer-light .widget-title {
  color: #33363a;
  a {
    color: #33363a;
  }
}

.sidebar .widget-title {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: none;
  color: #666;
  a {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-transform: none;
    color: #666;
  }
}

.side-navigation-wrapper .widget-title {
  font-size: 1.3rem;
  color: #33363a;
  a {
    font-size: 1.3rem;
    color: #33363a;
  }
}

.overlay-navigation-wrapper .widget-title {
  font-size: 1.3rem;
  color: #999;
  a {
    font-size: 1.3rem;
    color: #999;
  }
}

/* Link Colors */

a, p a, .box a:not(.button), .shop .breadcrumb a {
  color: #3fb58b;
}

.sidebar .widget a {
  color: #666;
}

.shop {
  .product-summary a, .cart-overview a {
    color: #666;
  }
}

a:hover, p a:hover, .box a:not(.button):hover, .social-list li a:hover, .team-1 .social-list a:hover, .team-2 .social-list a:hover, .blog-masonry .with-background .post-read-more a:hover, .post-info a:hover {
  color: #3fb58b;
}

.post-info-over a:hover {
  color: #3fb58b;
  span {
    color: #3fb58b;
  }
}

.post-author-aside a:hover {
  color: #3fb58b;
}

.post-love a:hover {
  color: #3fb58b;
  span {
    color: #3fb58b;
  }
}

.scroll-down a:hover, .widget a:not(.button):hover {
  color: #3fb58b;
}

.shop {
  .product-summary a:hover, .cart-overview a:hover {
    color: #3fb58b;
  }
}

/* Footer Specific Link Colors */

.footer {
  .widget a:not(.button):hover, a:hover + .post-info .post-date, .navigation a:hover, .social-list a:hover {
    color: #fff;
  }
}

.navigation .cart-overview a.view-cart:hover, .footer .footer-bottom a:hover {
  color: #fff;
}

.footer-light {
  .widget a:not(.button):hover, a:hover + .post-info .post-date, .navigation a:hover, .social-list a:hover, .footer-bottom a:hover {
    color: #3fb58b;
  }
}

/* Special Links */

a {
  &[class*="icon-"]:hover {
    text-decoration: none;
  }
  &.animated-link {
    position: relative;
  }
}

/* Lead */

.lead, blockquote {
  font-size: 2rem;
  font-weight: 600;
}

/* Title Classes */

.title-xlarge {
  font-size: 9.6rem;
  line-height: 1;
}

.title-large {
  font-size: 6.4rem;
  line-height: 1;
}

.title-medium {
  font-size: 3.6rem;
  line-height: 1;
}

.title-small {
  font-size: 2.4rem;
  line-height: 1;
}

/* Text Classes */

.text-xlarge {
  font-size: 2.6rem;
}

.text-large {
  font-size: 2rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1.1rem;
}

/* Special Text Classes */

.status-code-title {
  font-size: 14rem;
  line-height: 1;
}

/* Weight Classes */

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  h1, .title-xlarge {
    font-size: 4rem;
  }
  h2, .title-large {
    font-size: 2.8rem;
  }
  h3, .title-medium {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  h5.tms-caption, .tmp-content h5 {
    font-size: 1.4rem;
  }
  /* Lead */
  .lead {
    font-size: 1.7rem;
  }
  /* Text Classes */
  .text-xlarge {
    font-size: 2rem;
  }
  .text-large {
    font-size: 1.7rem;
  }
  .text-medium {
    font-size: 1.4rem;
  }
  .text-small {
    font-size: 1.1rem;
  }
  /* Helpers */
  .fullscreen-section .background-on-mobile {
    background: #f4f4f4;
    * {
      color: #666 !important;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #33363a !important;
    }
  }
}

/*------------------------------------------------------------------
[2. Background Color & Color Classes]
*/

.wrapper, body, .content, .featured-media:after, .section-block:not([class*="bkg-"]), .fullscreen-sections-wrapper {
  background-color: #fff;
}

.content.reveal-footer {
  box-shadow: 0 2rem 4.6rem rgba(0, 0, 0, 0);
}

.section-block.featured-media {
  background-color: #ddd;
}

/* greyscale */

.wrapper-inner {
  -webkit-filter: none;
  filter: none;
  -webkit-transition: 500ms ease-in-out;
  transition: 350ms ease-in-out;
}

.side-navigation-wrapper + .wrapper {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

/* grey ultralight */

.bkg-grey-ultralight, .bkg-hover-grey-ultralight:hover {
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}

.border-hover-grey-ultralight:hover {
  border-color: #f8f8f8;
}

.color-grey-ultralight, .color-hover-grey-ultralight:hover {
  color: #f8f8f8;
}

/* grey light */

.bkg-grey-light, .bkg-hover-grey-light:hover {
  background-color: #ddd;
  border-color: #ddd;
}

.border-grey-light, .border-hover-grey-light:hover {
  border-color: #ddd;
}

.color-grey-light, .color-hover-grey-light:hover {
  color: #ddd;
}

/* grey */

.bkg-grey, .bkg-hover-grey:hover {
  background-color: #5d6066;
  border-color: #5d6066;
}

.border-grey, .border-hover-grey:hover {
  border-color: #5d6066;
}

.color-grey, .color-hover-grey:hover {
  color: #5d6066;
}

/* charcoal */

.bkg-charcoal-light, .bkg-hover-charcoal-light:hover {
  background-color: #333;
  border-color: #333;
}

.border-hover-charcoal-light:hover {
  border-color: #333;
}

.color-charcoal-light, .color-hover-charcoal-light:hover {
  color: #333;
}

.bkg-charcoal, .bkg-hover-charcoal:hover {
  background-color: #232323;
  border-color: #232323;
}

.border-charcoal, .border-hover-charcoal:hover {
  border-color: #232323;
}

.color-charcoal, .color-hover-charcoal:hover {
  color: #232323;
}

/* green */

.bkg-green, .bkg-hover-green:hover {
  background-color: #3fb58b;
  border-color: #3fb58b;
}

.border-green, .border-hover-green:hover {
  border-color: #3fb58b;
}

.color-green, .color-hover-green:hover {
  color: #3fb58b;
}

/* theme */

.bkg-theme, .bkg-hover-theme:hover {
  background-color: #33363a;
  border-color: #33363a;
}

.border-theme, .border-hover-theme:hover {
  border-color: #33363a;
}

.color-theme, .color-hover-theme:hover {
  color: #33363a;
}

/*------------------------------------------------------------------
[3. Section Padding]
*/

/* Unique Template Padding & Margins */

.content {
  transition-duration: 500ms;
}

.animate-content {
  transform: scale(0.95) translateY(0px);
  transition-duration: 500ms;
}

.section-block, .fullscreen-section .fullscreen-inner, .pagination-2 .pagination-next, .row.xlarge {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.replicable-content, .row.xlarge.replicable-content {
  padding-top: 11rem;
  padding-bottom: 8rem;
}

.section-block.slanted-top:before {
  width: 100%;
  height: 12rem;
  background-color: inherit;
  content: '';
  position: absolute;
  left: 0;
  top: -5.7rem;
  -webkit-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);
  z-index: 5;
}

.reveal-footer {
  margin-bottom: 50rem;
}

.footer .footer-top {
  padding-top: 9rem;
  padding-bottom: 5rem;
}

.grid-filter-menu {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-block.feature-2 {
  padding-bottom: 12rem;
}

.divider {
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.page-intro .divider, [class*="intro-title-"] .divider {
  margin-top: 0;
  margin-bottom: 2rem;
}

.separator {
  width: 5rem;
  height: 0.2rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.text-line {
  width: 2rem;
  height: 0.1rem;
  display: inline-block;
  &[class*="bkg-"] {
    padding: 0;
  }
}

.text-line-vertical {
  display: inline-block;
  position: relative;
  &:after {
    width: 1px;
    height: 8rem;
    margin-top: 3rem;
    border-right: 1px solid #777;
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
  }
}

.tm-slider-container .text-line-vertical:after {
  height: 200%;
  border-color: #fff;
}

@media only screen and (min-width: 960px) {
  .header-1-static + .content {
    padding-top: 8rem;
  }
  /* Footer padding when content is animated */
  [data-animate-reveal] .footer-top {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .fullscreen-section.content-below-on-mobile .fullscreen-inner {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
}

/*------------------------------------------------------------------
[4. Header Styling]
*/

/* Initial Position */

.header-bottom {
  bottom: 0.1rem;
}

/* Intial Height */

.header {
  .logo {
    height: 8rem;
    line-height: 8rem;
  }
  .header-inner {
    .navigation > ul > li {
      height: 8rem;
      line-height: 8rem;
      > a:not(.button) {
        height: 8rem;
        line-height: 8rem;
      }
    }
    .dropdown > .nav-icon {
      height: 8rem;
      line-height: 8rem;
    }
  }
}

/* Compacted Height */

.header-compact {
  .logo {
    height: 6rem;
    line-height: 6rem;
  }
  .header-inner {
    .navigation > ul > li {
      height: 6rem;
      line-height: 6rem;
      > a:not(.button) {
        height: 6rem;
        line-height: 6rem;
      }
    }
    .dropdown > .nav-icon {
      height: 6rem;
      line-height: 6rem;
    }
  }
}

/* Header Initial Styling */

.header {
  .header-inner {
    background-color: #fff;
    border-bottom: none;
    border-bottom: 1px solid #eee;
  }
  &.no-border .header-inner {
    border-bottom: 1px solid transparent;
  }
  &.header-dark .header-inner {
    background-color: #232323;
    border-color: #232323;
  }
  .header-inner > .nav-bar {
    /*border-bottom: 1px solid #eee;*/
    /*-webkit-transition: max-width cubic-bezier(.19,1,.22,1) 1000ms;
    		transition: max-width cubic-bezier(.19,1,.22,1) 1000ms;*/
  }
}

/* Transparent Header Initial & Active Nav Colors */

.header-transparent .header-inner {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  > .nav-bar {
    /*border-bottom: 1px solid rgba(255,255,255, 0.2);*/
  }
}

/* Background Header - On Scroll! */

.header-background {
  .header-inner {
    background-color: #fff;
  }
  &.with-shadow .header-inner {
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.1);
  }
  &.with-border .header-inner {
    border-color: #ddd;
  }
  .header-inner > .nav-bar {
    border-bottom: none;
    max-width: 100%;
    padding: 0 3rem;
  }
}

/* Header Inner Top */

.header .header-inner-top {
  height: 4rem;
  background: #232323;
  color: #fff;
}

/* Mobile Header Styles & Breakpoints */

.mobile .header {
  .header-inner {
    background-color: #fff;
    border-top: none;
    border-bottom: 1px solid #eee;
  }
  + .content {
    padding-top: 0;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .header, .header-inner, &.header-transparent .header-inner {
      background-color: #fff;
    }
    .header-inner {
      border-bottom: 1px solid #eee;
      > .nav-bar {
        padding: 0;
      }
    }
  }
}

/*------------------------------------------------------------------
[5. Header Logo]
*/

/* Initial Logo Width */

.header .logo {
  width: 24rem;
}

/* Compacted Header Logo Width */

.header-compact .logo {
  width: 22rem;
}

/* Initial Logo Styling */

.header .logo a {
  display: block !important;
  position: absolute;
  top: 0;
}

.header-in .logo a, .header-out .logo a {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

.header .logo a {
  &:first-child {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  + a {
    display: none !important;
  }
}

/* Transparent Header Show Light Logo */

.header-transparent .logo a {
  &:first-child {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  + a {
    display: block !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Header Background Logo Swap to Dark Logo - On Scroll! */

.header-background .logo a {
  &:first-child {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  + a {
    display: block !important;
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Logo Nav Dark */

.nav-dark .logo a {
  &:first-child {
    display: block !important;
    top: 0;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &:last-child {
    display: none !important;
  }
}

/* Logo Mobile Header & Breakpoints */

.mobile .header .logo a:first-child {
  display: block !important;
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media only screen and (max-width: 960px) {
  .header {
    .logo-inner {
      display: table-cell;
      vertical-align: middle;
    }
    .logo a {
      position: relative;
      &:first-child {
        opacity: 1;
        top: 0;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
      }
    }
    &:not(.header-dark) .logo a:last-child {
      display: none !important;
    }
  }
}

/*------------------------------------------------------------------
[6. Header Navigation]
*/

/* Padding & Margins */

.header {
  .logo-center ~ .navigation.nav-center {
    padding-top: 0.5rem;
    > ul > li > a {
      padding-bottom: 2rem;
    }
  }
  .navigation > ul > li {
    > a {
      margin: 0 1.5rem;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.1rem;
      text-transform: none;
      font-weight: 700;
      letter-spacing: 0.1rem;
      color: #999;
      opacity: 1;
    }
    &.current {
      > a {
        color: #33363a;
        opacity: 1;
      }
      > a:hover {
        color: #33363a;
      }
    }
    > a:hover {
      color: #33363a;
      opacity: 1;
    }
  }
}

/* Header Initial & Active Nav Colors */

/* Transparent Header Initial, Hover & Current Nav Colors */

.header-transparent {
  .navigation > ul > li {
    > a {
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    &.current > a {
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
  &.nav-dark .navigation > ul > li > a {
    opacity: 1;
  }
  &.nav-dark.header-sticky .navigation  > ul > li > a {
    color: #999;
    opacity: 1;
  }
}

/* Nav Dark Initial, Hover & Current Colors */

.nav-dark .navigation > ul > li.current > a {
  color: #33363a;
  opacity: 1;
  &:hover {
    color: #33363a;
    opacity: 1;
  }
}

/* Header Background Initial, Hover & Current Nav Colors - On Scroll! */

.header-background .navigation > ul > li {
  > a {
    color: #999;
  }
  &.current > a {
    color: #33363a;
    border-bottom: none;
    &:hover {
      color: #33363a;
    }
  }
  > a:hover {
    color: #33363a;
    opacity: 1;
  }
}

/* Sub Menus, Mega Menus, Dropdown List Initial Colors */

.navigation {
  .sub-menu li, .dropdown-list li {
    border-bottom: none;
  }
  .sub-menu li a, .mega-sub-menu ul li a, .dropdown-list li a {
    line-height: 1.6;
    font-weight: 400;
    font-size: 1.1rem;
    color: #888;
  }
  .sub-menu:not(.custom-content) li a, .dropdown-list:not(.custom-content) li a {
    padding: 1rem 1.5rem;
  }
  .mega-sub-menu > li > a {
    font-size: 1.3rem;
  }
  .sub-menu {
    &:not(.custom-content) a, &.custom-content {
      background-color: #181b1d;
    }
  }
  .mega-sub-menu, .dropdown-list {
    background-color: #181b1d;
  }
  .cart .badge {
    top: -0.4rem;
    left: 1.2rem;
    background-color: #3fb58b;
  }
  .cart-overview {
    .product-title {
      color: #fff;
    }
    .product-price, .product-quantity {
      color: #999;
    }
    a.product-remove {
      background-color: #444;
      color: #999;
    }
    .cart-subtotal {
      color: #fff;
    }
    .cart-actions {
      border-color: #444;
    }
    .checkout.button {
      background-color: #3fb58b;
      border-color: transparent;
      color: #fff;
      &:hover {
        background-color: #666;
        border-color: transparent;
        color: #fff;
      }
    }
  }
  .sub-menu:not(.custom-content) li:hover > a, .mega-sub-menu:not(.custom-content) ul li:hover > a, .dropdown-list:not(.custom-content) li:hover a {
    background-color: #33363a;
  }
  ul li > a:hover, .mega-sub-menu ul li > a:hover, .dropdown-list li > a:hover {
    color: #fff;
  }
  .cart-overview {
    .product-title:hover, .product-remove:hover {
      color: #fff;
    }
  }
  .mega-sub-menu {
    left: 0;
    right: 0;
  }
}

/* Menu Nav Cart Intial Colors */

/* Sub Menus, Mega Menus, Dropdown List Hover Colors */

/* Mega Menu Position */

/* Cart Icon */

.mobile .navigation a.cart {
  display: none;
}

@media only screen and (max-width: 960px) {
  .navigation a.cart {
    display: none;
  }
}

/* Labels Sub Menu */

.sub-menu li .label, .mega-menu li .label, .dropdown li .label {
  margin-left: 0.5rem;
  padding: 0.1rem 0.4rem;
  font-size: 1rem;
  text-transform: none;
  background-color: #3fb58b;
  border-color: #3fb58b;
  color: #fff;
}

/*------------------------------------------------------------------
[7. Header Nav Icons, Buttons, Dropdowns ]
*/

/* Padding & Margins */

.header {
  .dropdown-list {
    margin-top: 2.2rem;
  }
  .secondary-navigation {
    &.nav-left:not(.with-division) > ul {
      margin-left: -1.5rem;
    }
    &.nav-right:not(.with-division) > ul {
      margin-right: -1.5rem;
    }
  }
  .navigation {
    .nav-icon, .v-align-middle {
      padding: 0 1.5rem !important;
    }
  }
  .with-division {
    ul {
      border-left-color: rgba(0, 0, 0, 0.1);
    }
    li {
      border-right-color: rgba(0, 0, 0, 0.1);
    }
  }
  .navigation .nav-icon {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 1;
    &:hover, &.active {
      background-color: transparent;
      color: #33363a;
      opacity: 1;
    }
  }
  .cart .badge {
    background-color: #3fb58b;
  }
  .social-list li a {
    color: #666;
    &:hover {
      color: #3fb58b;
    }
  }
  .v-align-middle > .button:not(.nav-icon), .dropdown > .button:not(.nav-icon) {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  .v-align-middle > .button:not(.nav-icon):hover {
    background-color: #3fb58b;
    border-color: transparent;
    color: #fff;
  }
  .dropdown > .button {
    &:not(.nav-icon):hover, &.active:not(.nav-icon) {
      background-color: #3fb58b;
      border-color: transparent;
      color: #fff;
    }
  }
}

/* Initial Division Padding & Color */

/* Nav Icons Initial, Hover & Active Colors */

/* Social Icons Initial & Hover Colors  */

/* Button, Dropdown Button Initial, Hover & Active Colors */

/* Transparent Header Division Color */
@media only screen and (min-width: 960px) {
  .header-transparent .with-division {
    ul {
      border-left-color: rgba(255, 255, 255, 0.2);
    }
    li {
      border-right-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* Transparent Header Initial, Hover & Active Colors */

.header-transparent .navigation .nav-icon {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  &:hover {
    color: #fff;
    opacity: 0.6;
  }
  &.active {
    color: #fff;
    background-color: transparent;
    opacity: 1;
  }
}

/* Nav Dark Button, Dropdown Button Initial, Hover & Active Colors */

.nav-dark {
  .navigation .nav-icon {
    color: #999;
    &:hover, &.active {
      color: #999;
      opacity: 0.6;
    }
  }
  .v-align-middle > .button:not(.nav-icon):not(:hover), .dropdown > .button:not(.nav-icon):not(:hover) {
    color: #fff;
  }
  .v-align-middle > .button:not(.nav-icon):hover, .dropdown > .button:not(.nav-icon):hover {
    background-color: #3fb58b;
    border-color: transparent;
    color: #fff;
  }
}

/* Header Background Divisions, Initial, Hover & Active Colors */

.header-background {
  .with-division {
    ul {
      border-left-color: #eee;
    }
    li {
      border-right-color: #eee;
    }
  }
  .v-align-middle > .button:not(.nav-icon), .dropdown > .button:not(.nav-icon) {
    background: #33363a;
    border-color: transparent;
    color: #fff;
  }
}

.header .v-align-middle.current > .button:not(.nav-icon) {
  background-color: #3fb58b;
  border-color: #3fb58b;
}

.header-background {
  .v-align-middle > .button:not(.nav-icon):hover, .dropdown > .button:not(.nav-icon):hover {
    background-color: #3fb58b;
    border-color: transparent;
    color: #fff;
  }
  .navigation .nav-icon {
    color: #999;
    &:hover, &.active {
      color: #33363a;
    }
  }
  .social-list li a {
    color: #999;
    &:hover {
      color: #33363a;
    }
  }
}

/* Compacted Header Dropdown List Margin */

.header-compact .dropdown-list {
  margin-top: 1.2rem;
}

/* Mobile Header Styles and Breakpoints */

.mobile {
  .navigation.with-division {
    ul {
      border-left-color: #eee;
    }
    li {
      border-right-color: #eee;
    }
  }
  .v-align-middle > .button:not(.nav-icon), .dropdown > .button:not(.nav-icon) {
    background: #33363a;
    border-color: transparent;
    color: #fff;
  }
  .v-align-middle > .button:not(.nav-icon):hover, .dropdown > .button:not(.nav-icon):hover {
    background-color: #3fb58b;
    border-color: transparent;
    color: #fff;
  }
  .navigation .nav-icon {
    color: #666;
    &:hover {
      color: #33363a;
    }
  }
  .dropdown .nav-icon.active, .header-transparent .dropdown .nav-icon.active {
    color: #33363a;
  }
}

@media only screen and (max-width: 960px) {
  .header {
    .dropdown-list {
      margin-top: 2.2rem;
    }
    .v-align-middle > .button:not(.nav-icon), .dropdown > .button:not(.nav-icon) {
      background: #33363a;
      border-color: transparent;
      color: #fff;
    }
    .v-align-middle > .button:not(.nav-icon):hover, .dropdown > .button:not(.nav-icon):hover {
      background-color: #3fb58b;
      border-color: transparent;
      color: #fff;
    }
    .navigation .nav-icon {
      color: #666;
      &:hover {
        color: #33363a;
      }
    }
    .dropdown .nav-icon.active {
      color: #33363a;
    }
  }
}

/*------------------------------------------------------------------
[8. Auxiliary Navigation]
*/

/* Aux Navigation Show */

.header {
  .navigation-show {
    width: 4.4rem;
    height: 4.4rem;
    margin-left: 0;
    a {
      font-size: 2.4rem;
      text-align: center;
      color: #666;
      border: 1px solid #eee;
    }
  }
  .navigation .navigation-show.nav-icon {
    font-size: 3rem;
  }
  .navigation-show a:hover {
    color: #33363a;
    opacity: 1;
  }
}

/* Initial & Hover Colors */

/* Transparent Header Initial & Hover Colors */

.header-transparent .navigation-show a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
  &:hover {
    color: #fff;
    border-color: rgba(255, 255, 255, 1);
  }
}

/* Header with Background Initial & Hover Colors */

.header-background .navigation-show a {
  color: #666;
  border-color: #eee;
  &:hover {
    color: #33363a;
    border-color: #eee;
  }
}

/* Aux Navigation Hide */

.navigation-hide {
  width: 4.4rem;
  height: 4.4rem;
  margin-top: 1.9rem;
  margin-right: 0;
  a {
    background: none;
    span {
      width: 4.4rem;
      font-size: 2rem;
    }
  }
}

/* Side Navigation Background Color */

.side-navigation-wrapper {
  .logo {
    width: 12rem;
  }
  background-color: #f6f6f6;
  box-shadow: none !important;
  &.slide-in-reset {
    background-color: #fff;
  }
}

.side-navigation-header {
  border: none;
}

@media only screen and (min-width: 768px) {
  .side-navigation-wrapper {
    width: 50%;
  }
  .side-navigation-scroll-pane, .side-navigation-inner {
    width: 100%;
  }
  /* Side Navigation Reveal */
  .element-reveal-left {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .element-reveal-right {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

/* Side Main Nav Initial Colors & Padding */

.side-navigation {
  > ul > li > a {
    padding: 0 1rem;
    display: inline;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: none;
    font-weight: 700;
    color: #999;
    position: relative;
  }
  ul li.current > a {
    color: #33363a;
    font-weight: 700;
  }
}

.side-navigation-wrapper .navigation-hide {
  margin-right: 2rem;
  color: #666;
  a:hover {
    color: #33363a;
  }
}

.one-page-nav .side-navigation > ul > li > a {
  padding: 0 4rem;
  font-size: 3rem;
}

/* Side Nav Sub Menu Initial Colors & Padding */

.side-navigation {
  .sub-menu {
    background: none;
    a {
      text-transform: none;
      font-size: 1.2rem;
      font-weight: normal;
      color: #999;
      &:hover {
        color: #fff;
      }
    }
    li {
      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
  .cart-overview li {
    &:first-child {
      padding-top: 4rem;
    }
    &:last-child {
      padding-bottom: 2rem;
      border-width: 2px;
    }
  }
  .sub-menu:not(.custom-content) a {
    padding: 1.1rem 4rem 1.1rem 5.5rem;
  }
  &.center .sub-menu:not(.custom-content) a {
    padding: 1.1rem 4rem 1.1rem 4rem;
  }
  .cart .badge {
    background-color: #3fb58b;
  }
  .cart-overview {
    .product-title {
      color: #33363a;
    }
    .product-price, .product-quantity {
      color: #999;
    }
    a.product-remove {
      background-color: #ddd;
      color: #666;
    }
    .cart-subtotal {
      color: #33363a;
      font-size: 1.6rem;
    }
    .cart-actions {
      border-color: #ddd;
    }
    .checkout.button {
      background-color: #3fb58b;
      border-color: transparent;
      color: #33363a;
      &:hover {
        background-color: #666;
        border-color: transparent;
        color: #33363a;
      }
    }
  }
  ul li {
    a:hover, &.current a:hover {
      color: #33363a;
    }
  }
}

/* Side Nav Cart Initial Colors */

/* Side Nav Hover Colors */

/* Side Nav Widget */

.side-navigation-footer {
  .widget {
    p {
      color: #666;
      font-size: 1.3rem;
    }
    a {
      color: #666;
      font-size: 1.3rem;
      &:hover {
        color: #fff;
      }
    }
  }
  color: #666;
  font-size: 1.1rem;
  .social-list a {
    color: #666;
    font-size: 1.1rem;
    &:hover {
      color: #fff;
    }
  }
  .copyright {
    font-size: 1.1rem;
  }
}

/* Side Nav Footer */

/* Overlay Navigation Colors & Sizes */

.overlay-navigation-wrapper {
  background-color: rgba(255, 255, 255, 1);
}

.overlay-navigation-inner {
  text-align: left;
}

.overlay-navigation-header {
  top: 1.5rem;
}

.overlay-navigation-wrapper .menu-title {
  width: 100%;
  margin-bottom: 3rem;
  color: #33363a;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  display: block;
}

.overlay-navigation {
  max-width: 40rem;
  padding-left: 3rem;
  padding-right: 3rem;
  > ul > li > a {
    font-size: 2rem;
    color: #999;
  }
  ul li.current > a {
    font-weight: normal;
  }
}

/* Overlay Main Nav */

.overlay-navigation-wrapper .navigation-hide {
  top: 0;
  right: 3rem;
  a {
    color: #999;
    &:hover {
      color: #33363a;
    }
  }
}

/* Overlay Nav Sub Menu */

.overlay-navigation {
  .sub-menu {
    padding-left: 0;
    a {
      letter-spacing: 0.1rem;
      text-transform: normal;
      font-weight: normal;
      line-height: 1.2;
      color: #999;
    }
    .current a, a:hover {
      color: #33363a;
    }
    li {
      &:first-child {
        padding-top: 1rem;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
  .cart-overview li {
    &:first-child {
      padding-top: 2rem;
    }
    &:last-child {
      padding-bottom: 2rem;
    }
  }
  .cart .badge {
    background-color: #3fb58b;
  }
  .cart-overview {
    .product-title {
      color: #33363a;
    }
    .product-price, .product-quantity {
      color: #999;
    }
    a.product-remove {
      background-color: #eee;
    }
    .cart-subtotal {
      color: #33363a;
    }
    .cart-actions {
      border-color: #eee;
    }
    .checkout.button {
      background-color: #3fb58b;
      border-color: transparent;
      color: #fff;
      &:hover {
        background-color: #666;
        border-color: transparent;
        color: #fff;
      }
    }
  }
  > ul > li {
    > a:hover, &.current > a {
      color: #33363a;
    }
  }
  ul li.current > a:hover {
    color: #33363a;
  }
}

/* Overlay Nav Cart */

/* Overlay Nav Hover Colors */

/* Overlay Nav Widget */

.overlay-navigation-footer {
  .widget {
    p {
      color: #666;
      font-size: 1.3rem;
    }
    a {
      color: #666;
      font-size: 1.3rem;
      &:hover {
        color: #33363a;
      }
    }
  }
  padding-left: 3rem;
  padding-right: 3rem;
  color: #33363a;
  font-size: 1.3rem;
  .social-list a {
    color: #33363a;
    font-size: 1.3rem;
    &:hover {
      color: #33363a;
    }
  }
  .copyright {
    font-size: 1.1rem;
  }
}

/* Overlay Nav Footer */

/* Mobile Styles and Breakpoints */

.mobile .navigation-show {
  margin-left: 2rem;
  a {
    color: #666;
    border-color: #eee;
    &:hover {
      color: #33363a;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 960px) {
  .header .navigation-show {
    margin-left: 2rem;
    a {
      color: #666;
      border-color: #eee;
      &:hover {
        color: #33363a;
        opacity: 1;
      }
    }
  }
  .overlay-navigation-header {
    top: 2rem;
  }
  .overlay-navigation-wrapper .navigation-hide {
    top: 0;
    right: 3rem;
  }
}

/*------------------------------------------------------------------
[9. Title Area]
*/

[class*="intro-title-"] {
  padding: 0;
  height: 45rem;
  &.small {
    height: 30rem;
  }
  &.xsmall {
    height: 20rem;
  }
}

.intro-title-2 {
  background-image: url(../images/slider/slide-1-page-intro.jpg);
}

.intro-title-2-1 {
  background-image: url(../images/slider/slide-2-page-intro.jpg);
}

.intro-title-2-2 {
  background-image: url(../images/slider/slide-3-page-intro.jpg);
}

.intro-title-2-3 {
  background-image: url(../images/slider/slide-4-page-intro.jpg);
}

.intro-title-2-4 {
  background-image: url(../images/slider/slide-5-page-intro.jpg);
}

@media only screen and (max-width: 768px) {
  [class*="intro-title-"]:not(.xsmall) {
    padding: 8rem 0;
    height: auto;
  }
}

/*------------------------------------------------------------------
[10. Slider & Parallax]
*/

.tm-slider-container:not([class*="bkg-"]) {
  background: none;
}

/* Slider Heights */

.featured-media, .full-width-slider, .parallax {
  height: 50rem;
  padding: 0;
}

.window-height {
  height: 100vh;
}

.hero-slider.window-height {
  min-height: 100vh;
}

.parallax.page-intro, .page-intro {
  height: 45rem;
}

.parallax.small {
  height: 30rem;
}

.page-intro {
  &.small {
    height: 30rem;
  }
  .full-width-slider {
    height: inherit;
  }
}

.window-height .full-width-slider {
  height: inherit;
}

.logo-slider, .testimonial-slider, .team-slider {
  min-height: 5rem;
}

.recent-slider {
  .thumbnail {
    min-height: 5rem;
  }
  min-height: 33rem;
}

.team-slider {
  height: 42rem;
}

.hero-slider {
  min-height: 60rem;
}

/* Mobile Slider & Parallax */

.mobile {
  .featured-media, .parallax.fixed-height {
    height: 50rem;
  }
}

/* Slider Navigation Common */

.tms-arrow-nav {
  width: 4.4rem;
  height: 4.4rem;
  background: none;
  font-size: 2rem;
  line-height: 4.4rem;
  color: #fff;
  border: none;
  background-color: #33363a;
  &:hover {
    opacity: 0.5 !important;
  }
  &:before {
    line-height: 4.4rem;
  }
  &:hover {
    width: 4.4rem;
  }
}

.tms-bullet-nav {
  background-color: #fff;
}

.tms-nav-dark .tms-bullet-nav {
  background-color: #33363a;
}

/* Featured Media Slider Navigation */

.featured-media {
  .tms-pagination {
    width: 100%;
    bottom: 3rem;
    a {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }
  .tm-slider-container .tms-pagination {
    opacity: 1;
  }
}

/* Testimonial Slider */

.testimonial-slider blockquote h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

/* Aux API Nav */

.testimonial-slider-aux-nav {
  .avatar {
    display: inline-block;
  }
  .content-aside {
    display: inline-block;
    span {
      display: block;
    }
  }
  .avatar {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    position: relative;
    top: -1.4rem;
  }
  img {
    border-radius: 50%;
  }
  a.active .h5 {
    color: #3fb58b;
  }
}

/* Recent Slider */

.recent-carousel {
  &.replicable-content {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .column.slider-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.tm-slider-container.tms-carousel > ul {
  opacity: 1;
}

/* Team Slider */

.team-slider {
  li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  p {
    line-height: inherit;
  }
}

/* Slider Buttons */

.tm-slider-container .button {
  font-size: 1.1rem;
  font-weight: 400;
}

/* Featured Slider Nav Breakpoints */
@media only screen and (max-width: 768px) {
  .featured-media .tms-pagination a {
    display: inline-block;
  }
  .hero-slider {
    .hero-content {
      background-color: rgba(0, 0, 0, 0.4) !important;
      color: #fff !important;
    }
    .tms-bullet-nav {
      background-color: #fff;
    }
  }
}

/*------------------------------------------------------------------
[11. Lightbox]
*/

.tm-lightbox {
  background: rgba(255, 255, 255, 1);
}

#tml-content-wrapper.zoomed + #tml-caption span {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
}

/* Standard Modal Mode */

#tm-lightbox.tml-modal-mode {
  background: rgba(0, 0, 0, 0.1);
}

.tml-modal-mode {
  .modal-dialog {
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
  }
  #tml-exit {
    color: #33363a;
  }
}

.tml-exit-light #tml-exit {
  color: #fff;
}

.rounded {
  .modal-dialog, .section-block {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
}

/* Common Modal Mode */

.tml-contact-modal .modal-dialog > div, .tml-newsletter-modal .modal-dialog > div, .tml-search-modal .modal-dialog > div, .tml-promotion-modal .modal-dialog > div {
  padding-left: 0;
  padding-right: 0;
}

.tml-contact-modal .contact-form-container, .tml-search-modal .search-form-container, .tml-newsletter-modal .signup-form-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* greyscale upon modal opening */

.modal-open .wrapper-inner {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}

@media only screen and (max-width: 960px) {
  .tml-padding-small #tml-content-wrapper {
    left: 5% !important;
    right: 5% !important;
  }
}

@media only screen and (max-width: 768px) {
  .tml-modal-mode .modal-dialog {
    width: 100% !important;
    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .tml-swap-exit-light #tml-exit {
    color: #fff;
  }
  .tml-modal-mode .hero-5 {
    padding-bottom: 2rem;
    .column:first-child:not(.media-column) .split-hero-content {
      margin-top: 4rem;
    }
  }
}

/* Navigation */

.tml-nav {
  color: #999;
  opacity: 0.7;
  &:hover {
    color: #33363a;
  }
}

/*------------------------------------------------------------------
[12. Preloaders]
*/

/* Site Preloader */

.preload-page {
  visibility: hidden;
}

.tm-pageloader-wrapper {
  background-color: #fff;
  position: absolute;
}

.tm-pageloader {
  position: absolute;
  &.full-page #tm-pl-percentage {
    position: absolute;
  }
  width: 100%;
  height: 0.2rem;
  top: 50%;
  #tm-pl-percentage {
    width: 100%;
    height: 100%;
    font-weight: 300;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
  }
  &.fixed-width-bar {
    width: 10rem;
    margin-left: -5rem;
    left: 50%;
  }
  &.full-width-bar {
    width: 100%;
  }
  &.full-page {
    width: 100%;
    height: 100%;
    top: 0;
    #tm-pl-percentage {
      font-size: 8rem;
      color: #ddd;
      opacity: 0.5;
      line-height: 100vh;
      z-index: 1;
    }
  }
  &.animated-gif {
    width: 8rem;
    height: 8rem;
    margin-top: -4rem;
    margin-left: -4rem;
    top: 50%;
    left: 50%;
    #tm-pl-bar {
      width: 100% !important;
      border-radius: 50%;
      background: transparent url(../images/assets/preloader-gif.gif);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  #tm-pl-bar {
    width: 0;
    background-color: #3fb58b;
  }
}

/* Plugin Preloader */

.tm-loader {
  width: 3.4rem;
  height: 3.4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: none;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  #circle {
    width: 3.4rem;
    height: 3.4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: none;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: preloader 2s ease infinite;
    -moz-animation: preloader 2s ease infinite;
    -o-animation: preloader 2s ease infinite;
    animation: preloader 2s ease infinite;
    border: 0.19rem solid rgba(0, 0, 0, 0.2);
    border-bottom-color: #33363a;
  }
  width: 3.4rem;
  height: 3.4rem;
  margin: -1.7rem 0 0 -1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: preloader-outer 1s ease infinite;
  -moz-animation: preloader-outer 1s ease infinite;
  -o-animation: preloader-outer 1s ease infinite;
  animation: preloader-outer 1s ease infinite;
}

.featured-media .tm-loader #circle {
  background: none;
  border: 0.19rem solid rgba(255, 255, 255, 0.4);
  border-bottom-color: #fff;
  opacity: 1;
}

@-webkit-keyframes preloader-outer {
  from {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }

  to {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}


@keyframes preloader-outer {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}


@-webkit-keyframes preloader {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
}


@keyframes preloader {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}


/*------------------------------------------------------------------
[13. Rollovers]
*/

/* Rollover Text */

.overlay-info .project-title, .shop .products .overlay-info .product-title {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: none;
  color: #fff;
}

.overlay-info {
  > span > span {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    text-transform: none;
    color: #fff;
  }
  .project-description {
    margin-top: 1.1rem;
    display: block;
    font-size: 1.2rem;
    opacity: 1;
    text-transform: none;
    font-weight: 400;
  }
  padding: 2rem;
  background: rgba(255, 255, 255, 0.5);
  > span > span {
    text-align: center;
    vertical-align: middle;
  }
  .project-title, > span > span > span {
    margin-bottom: 1rem;
    display: block;
    position: relative;
    top: 1rem;
  }
}

/* Overlay */

.overlay-fade-img-scale-out .overlay-info .overlay-info {
  opacity: 1;
}

.img-scale-out .project-title {
  margin-bottom: 0;
}

.caption-below {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  border: none;
  opacity: 0.5;
}

/* Customer overlay animation */

.overlay-info {
  .project-title, .project-description, span > span > span {
    -webkit-transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
}

.overlay-link:hover {
  .project-title, .project-description, span > span > span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.thumbnail:hover span > span > span {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*------------------------------------------------------------------
[14. Homepage]
*/

/* Stats */

.stats-1-1 {
  background-image: url(../images/team/hero-2.jpg);
}

/* Hero */

.hero-2-intro-1 {
  background-image: url(../images/generic/hero-homepage.jpg);
}

.hero-2-app-1 {
  background-image: url(../images/generic/hero-app-1.jpg);
}

.hero-2-app-3 {
  background-image: url(../images/generic/hero-app-3@2x.jpg);
}

.hero-2-startup-1 {
  background-image: url(../images/generic/hero-startup-1.jpg);
}

.hero-2-product-1 {
  background-image: url(../images/generic/hero-product-3-1.jpg);
}

.hero-3-signup-1 {
  background-image: url(../images/generic/signup-1.jpg);
}

.hero-3-signup-2 {
  background-image: url(../images/generic/signup-2.jpg);
}

.hero-3-shop-1 {
  background-image: url(../images/generic/hero-shop-1.jpg);
}

.hero-5-1 .media-column {
  background-image: url(../images/generic/hero-half-1.jpg);
}

.hero-5-2 .media-column {
  background-image: url(../images/team/hero-half-2.jpg);
}

/* Call to Action */

.call-to-action-2 p, .call-to-action-3 p {
  font-size: 2rem;
}

.call-to-action-2-product-2 {
  background-image: url(../images/generic/call-to-action-1.jpg);
  background-size: cover;
  background-position: center;
}

/* Signup */

.signup-2-about-1 {
  background-image: url(../images/generic/signup-1.jpg);
}

.signup-2-app-1 {
  background-image: url(../images/generic/signup-2.jpg);
}

.signup-2-product-1 {
  background-image: url(../images/generic/signup-3.jpg);
}

.signup-2-shop-1 {
  background-image: url(../images/generic/signup-4.jpg);
}

/* Fullscreen Section */

.home-page .fulscreen-sections-wrapper {
  background: #33363a;
}

.fullscreen-bkg-1 {
  background-image: url(../images/slider/fs-section-1.jpg);
}

.fullscreen-bkg-2 {
  background-image: url(../images/slider/fs-section-2.jpg);
}

.fullscreen-bkg-3 {
  background-image: url(../images/slider/fs-section-3.jpg);
}

.fullscreen-bkg-4 {
  background-image: url(../images/slider/fs-section-4.jpg);
}

.fullscreen-bkg-5 {
  background-image: url(../images/slider/fs-section-5.jpg);
}

/*------------------------------------------------------------------
[15. About Pages]
*/

/* Team Sections */

.team-1 h3, .team-2 h3 {
  margin-top: 0.5rem;
}

.team-1 {
  .team-content-info h5 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  h6.occupation {
    margin-bottom: 2rem;
  }
}

.team-2 {
  h6.occupation {
    margin-bottom: 2rem;
  }
  .team-content-info {
    padding: 2rem 2rem 0 0;
  }
  .caption-over-outer {
    height: auto;
    padding: 1.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .social-list {
    margin-bottom: 0;
  }
}

.team-4 {
  .social-list {
    margin-bottom: 0;
  }
  .overlay-info > span {
    padding: 0 3rem;
  }
  .social-list {
    padding: 0.6rem 0.4rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    display: inline-block;
  }
}

.mobile .team-4 .social-list {
  margin: 0;
  a {
    color: #fff;
  }
}

[class*="team-"] h6.occupation {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  color: #666;
}

/* Testimonial */

.testimonials-5-about-1 {
  background: none;
  .tms-bullet-nav {
    background: #33363a;
  }
}

/* Hero */

.hero-2-about-1 {
  background-image: url(../images/team/hero-1.jpg);
}

.hero-2-about-2 {
  background-image: url(../images/team/hero-2.jpg);
}

.hero-5-about-1 .media-column {
  background-image: url(../images/team/hero-half-1.jpg);
}

.hero-5-about-2 .media-column {
  background-image: url(../images/team/hero-half-2.jpg);
}

/*------------------------------------------------------------------
[15. Service Pages]
*/

.hero-2-services-1, .hero-3-services-1, .hero-4-services-1 {
  background-image: url(../images/services/hero-2.jpg);
}

.hero-5-services-1 .media-column {
  background-image: url(../images/services/hero-half-1.jpg);
}

.hero-5-services-2 .media-column {
  background-image: url(../images/services/hero-half-2.jpg);
  + .media-column {
    background-image: url(../images/services/hero-half-2-1.jpg);
  }
}

/*------------------------------------------------------------------
[16. Contact Pages]
*/

/* Hero */

.hero-5-contact-1 {
  .media-column {
    background-image: url(../images/contact/hero-half-1.jpg);
    + .media-column {
      background-image: url(../images/contact/hero-half-1-2.jpg);
    }
  }
  [class*="stats-"] .stat-inner {
    text-align: left;
  }
}

/* Stats */

.stats-contact-1 {
  background: none;
}

/* Form Response */

.contact-form-container .form-response {
  color: #666;
}

/* Map */

.map-container {
  height: 45rem;
}

.accordion .map-container {
  height: 24rem;
}

.map-pan-link-container a.active {
  color: #333;
}

.hero-5 .map-pan-link-container {
  * {
    opacity: 0.5;
  }
  a.active {
    opacity: 1;
  }
}

.map-pan-link-container a.button.active {
  background: none;
  border-color: #3fb58b;
  color: #fff;
}

/* Fullscreen Section */

.fullscreen-contact-bkg-1 {
  background-image: url(../images/contact/fs-section-1.jpg);
}

/*------------------------------------------------------------------
[17. Project Pages]
*/

/* Grid */

.masonry-stamp .caption-over-outer {
  background-color: rgba(255, 255, 255, 0.6);
}

h3.project-title {
  font-size: 2rem;
}

.project-title .label {
  font-size: 1rem;
  text-transform: none;
}

.project-description {
  font-size: 1.2rem;
}

.item-description.with-background {
  padding: 2rem;
  margin: 0;
  background-color: #fff;
}

/* Project Info */

.project-attribute {
  margin-bottom: 0.3rem;
  display: table;
  table-layout: fixed;
  line-height: 1.6;
  .project-label {
    min-width: 8rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: none;
    display: table-cell;
  }
  .project-value {
    display: table-cell;
  }
}

/* Folio Filter */

.grid-filter-menu {
  ul {
    padding: 0;
    text-transform: none;
    font-size: 1.1rem;
    font-weight: 700;
  }
  li {
    padding: 0;
    text-transform: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.8rem 0.5rem;
  }
  &.list-vertical li {
    display: block;
    padding: 0.8rem 0;
  }
  &:not(.center):not(.right) li:first-child {
    padding-left: 0;
  }
  &.right li:last-child {
    padding-right: 0;
  }
  a {
    padding: 0.7rem 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1rem;
    color: #999;
    border-radius: 0;
    display: block;
    position: relative;
    border-bottom: 1px solid transparent;
    &:hover {
      color: #333;
    }
    &.active {
      background-color: transparent;
      border-color: transparent;
      color: #33363a;
    }
  }
  &.nav-dark a {
    &.active, &:hover {
      color: #fff;
    }
  }
}

/* Color Swatch */

.project-swatch-list {
  margin-bottom: 3rem;
  overflow: hidden;
  li {
    margin-bottom: 0;
    display: inline;
  }
}

.project-swatch .box {
  width: auto;
  min-width: 10rem;
  display: inline-block;
  float: left;
}

.project-swatch-list.center li {
  margin-right: -4px;
  display: inline-block;
}

.center .project-swatch {
  text-align: center;
  .box {
    float: none;
  }
}

/*------------------------------------------------------------------
[18. Pagination]
*/

/* Pagination 3 Customized */

.pagination-3 {
  border-top: 1px solid #eee;
  a {
    width: 4rem;
    height: 4rem;
    padding: 0;
    border: none;
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: none;
    color: #33363a;
    border-radius: 0.3rem;
  }
  .pagination-previous, .pagination-next {
    width: auto;
    background: transparent;
    border: none;
  }
  [class*="icon-"]:before {
    font-size: 2rem;
    position: relative;
    top: 0.4rem;
  }
  a {
    &:hover {
      background: transparent;
      border: none;
      color: #3fb58b;
    }
    &.current {
      background: transparent;
      border: 1px solid #3fb58b;
      font-weight: 700;
      color: #3fb58b;
    }
    &.disabled {
      border: none;
      &:hover {
        border: none;
      }
    }
    span {
      margin: 0;
    }
  }
}

/*------------------------------------------------------------------
[19. Fullscreen Pages]
*/

.fullscreen-section .fullscreen-inner {
  background: rgba(0, 0, 0, 0.5);
}

.fs-bullet-nav {
  background: none;
  border: 1px solid #fff;
  &.active {
    background: #fff;
  }
}

.fs-pagination {
  right: 6rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
}

/*------------------------------------------------------------------
[20. Blog Pages]
*/

/* Post Title */

.blog-regular h2.post-title, .blog-wide h2.post-title, .blog-single-post h2.post-title {
  margin-bottom: 1rem;
}

.blog-masonry {
  h2.post-title {
    margin-bottom: 2rem;
  }
  .post-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: none;
    display: block;
  }
}

.post-title {
  font-size: 3rem;
  font-weight: 700;
  a {
    color: #33363a;
  }
}

.box .post-title a:hover {
  opacity: 0.5;
}

.single-post-tags .tags-title {
  font-size: 1.3rem;
}

.blog-masonry.masonry-set-dimensions .post-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  &.quote {
    line-height: inherit;
  }
  a {
    color: #fff;
  }
}

.masonry-set-dimensions .content-inner.with-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Common */

.post-content .with-background {
  padding: 3rem;
  background-color: #f8f8f8;
}

.home-page .with-background {
  background-color: #fff;
}

.post-info {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 600;
  color: #999;
}

.overlay-info .post-info, .tm-slider-container .post-info, [class*=".intro-title-"] .post-info {
  margin-bottom: 0;
  color: #fff;
}

.post-info {
  &.boxed {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 7rem;
    background-color: #fafafa;
  }
  span {
    margin-left: 0rem;
    margin-right: 0.5rem;
  }
  .post-date {
    font-weight: 700;
  }
  span, a {
    display: inline-block;
  }
}

.post-author, .post-comments, .post-aux-info, .post-comment-respond {
  margin-top: 5rem;
}

.post-author {
  padding-top: 0;
}

.post-aux-info, .post-comments, .post-comment-respond {
  padding-top: 5rem;
}

.post-info-aside .post-love {
  font-size: 1.5rem;
  text-transform: none;
  color: #999;
  margin-right: 0;
  margin-left: 0;
  letter-spacing: 0;
}

.post-author-aside {
  span, a {
    font-size: 1.5rem;
    text-transform: none;
    color: #999;
    margin-right: 0;
    margin-left: 0;
    letter-spacing: 0;
  }
}

.post-comments-aside {
  span, a {
    font-size: 1.5rem;
    text-transform: none;
    color: #999;
    margin-right: 0;
    margin-left: 0;
    letter-spacing: 0;
  }
}

.post-info-aside .post-love {
  display: block;
}

.post-author-aside {
  span, a {
    display: block;
  }
}

.post-comments-aside {
  span, a {
    display: block;
  }
}

.post-info-aside [class*="icon-"] {
  font-size: 1.2rem;
}

.post-author-aside {
  min-width: 12rem;
}

.post-info-aside, .post-comments-aside {
  min-width: 6.5rem;
  margin-left: 0;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0;
}

.post-info-aside .post-info-inner, .post-author-aside .author-title {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.post-info-aside {
  .post-love [class*="icon-"] {
    width: 1.3rem;
    margin-right: 0.6rem;
  }
  .social-list {
    text-align: left;
  }
}

.post-author-aside + .author-bio {
  padding-left: 17rem;
}

.post-info-aside + .post-content, .post-comments-aside + .comments-inner {
  padding-left: 6.5rem;
}

.post-info-aside {
  .post-date {
    margin-top: -0.4rem;
    color: #ccc;
  }
  .day {
    font-size: 3.3rem;
  }
  .month {
    font-size: 2rem;
    text-transform: none;
  }
  span {
    width: 100%;
    margin: 0;
    display: block;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
  }
}

.post-content .read-more {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: none;
  [class*="icon-"] {
    margin: 0;
  }
}

.box > a.read-more:not(.button) {
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .post-info-aside + .post-content {
    padding-left: 0;
  }
  .blog-regular .post-title, .blog-wide .post-title {
    font-size: 3rem;
  }
}

/* Regular Blog */

.blog-regular .post {
  margin-bottom: 5rem;
}

.blog-masonry {
  .caption-over-outer .post-info .post-date {
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
  }
  &.masonry-set-dimensions .post-info {
    color: #fff;
    a {
      color: #fff;
    }
  }
}

/* Blog Masonry Set Dimentions */

/* Blog Mejs Player */

.post-media .mejs-container.mejs-audio .mejs-controls {
  .mejs-play, .mejs-pause {
    border-radius: 0;
  }
  border-radius: 0;
}

.masonry-set-dimensions {
  .post-content.with-background {
    background: #f4f4f4;
  }
  .post-media:hover {
    .post-content {
      background: rgba(0, 0, 0, 0.8);
      h2 a {
        color: #fdeb74;
      }
    }
    .post-author a:hover {
      opacity: 0.5;
    }
  }
}

/* Comments */

.post-comments .comment-meta {
  font-size: 1.2rem;
}

.comment-meta span {
  &:first-child {
    margin-left: 0;
  }
  margin-left: 1rem;
  margin-right: 1rem;
}

.comment-list {
  li {
    margin-bottom: 5rem;
  }
  ul {
    margin-top: 5rem;
    margin-left: 10rem;
  }
}

.post-comments {
  .comment-meta a {
    font-weight: 400;
  }
  .name {
    margin-bottom: 1rem;
  }
}

.comment-form textarea {
  min-height: 20rem;
}

.post-comment-respond .comment-form .column {
  float: left;
}

.post-author, .post-aux-info {
  border-top-width: 0;
}

/*.post-author,
.post-aux-info,*/

.post-comments, .post-comment-respond {
  border-color: #eee;
}

/*------------------------------------------------------------------
[21. Form Elements]
*/

.field-wrapper {
  position: relative;
  overflow: hidden;
  label:not(.checkbox-label):not(.radio-label) {
    opacity: 0.5;
  }
}

.form-submit.full-width {
  width: 100%;
}

/* Common Styling */

.contact-form textarea {
  min-height: 15rem;
}

[class*="form-container"] .column {
  position: relative;
}

.form-response {
  font-size: 1rem;
  position: absolute;
}

.form-element, textarea {
  margin-bottom: 3rem;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
}

.form-element, textarea, select {
  /*padding-left: 0 !important;
  padding-right: 0 !important;*/
  font-size: 1.3rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #666;
}

.form-select:after {
  font-weight: 700;
  /*right: 0 !important;*/
}

.form-element:focus, textarea:focus {
  background-color: #fff;
  border-width: 1px;
  border-color: #3fb58b;
  box-shadow: none;
  color: #33363a;
}

.form-element.required-field:focus, textarea.required-field:focus, select.required-field:focus {
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  box-shadow: none;
  color: #33363a;
}

.form-element.required-field, textarea.required-field, select.required-field {
  background-color: #fff;
  border-color: #3fb58b;
  box-shadow: none;
  color: #33363a;
  position: relative;
}

.form-element {
  &::-webkit-input-placeholder {
    color: #666;
  }
  &:focus::-webkit-input-placeholder {
    color: #33363a;
  }
  &::-moz-placeholder {
    color: #666;
  }
  &:focus::-moz-placeholder {
    color: #33363a;
  }
  &:-ms-input-placeholder {
    color: #666;
  }
  &:focus:-ms-input-placeholder {
    color: #33363a;
  }
}

.signup-form-container .form-response {
  bottom: -1rem;
}

/* Checkbox and Radio */

.checkbox-label, .radio-label {
  color: #666666;
  position: relative;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
  background: #fff;
  border-color: #ddd;
}

.checkbox:checked + .checkbox-label, .radio:checked + .radio-label {
  opacity: 1;
}

.checkbox:checked + .checkbox-label:before {
  content: '\e63a';
  background: #3fb58b;
  border-color: #3fb58b;
  color: #fff;
}

.radio:checked + .radio-label:before {
  background: #3fb58b;
}

.checkbox.required-field {
  position: absolute;
  + .checkbox-label:before {
    border-color: #3fb58b;
  }
}

/* Contact Specific */

.contact-form-container {
  ::-webkit-input-placeholder {
    color: #666;
  }
  :focus::-webkit-input-placeholder {
    color: #33363a;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :focus::-moz-placeholder {
    color: #33363a;
  }
  :-ms-input-placeholder {
    color: #666;
  }
  :focus:-ms-input-placeholder {
    color: #33363a;
  }
  .form-response {
    bottom: -3rem;
  }
}

/* Search Form Elements */

.search-form-container {
  .form-element:focus, ::-webkit-input-placeholder {
    color: #666;
  }
  :focus::-webkit-input-placeholder {
    color: #33363a;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :focus::-moz-placeholder {
    color: #33363a;
  }
  :-ms-input-placeholder {
    color: #666;
  }
  :focus:-ms-input-placeholder {
    color: #33363a;
  }
}

#signup-lightbox {
  button, .button {
    width: auto;
    max-width: auto;
  }
}

/* Signup 1 Specific */

.signup-1 {
  .form-element {
    background-color: #fff;
    border-width: 1px;
    color: #666;
    &:focus {
      background-color: #fff;
      border-width: 1px;
      border-color: #3fb58b;
      color: #33363a;
    }
    &.required-field {
      &:focus {
        background-color: #fff;
        border-width: 1px;
        border-color: #ddd;
        color: #33363a;
      }
      background-color: #fff;
      border-width: 1px;
      border-color: #3fb58b;
      color: #33363a;
      position: relative;
    }
  }
  .form-response {
    width: 100%;
    text-align: center;
    color: #666;
  }
  ::-webkit-input-placeholder {
    color: #666;
  }
  :focus::-webkit-input-placeholder {
    color: #33363a;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :focus::-moz-placeholder {
    color: #33363a;
  }
  :-ms-input-placeholder {
    color: #666;
  }
  :focus:-ms-input-placeholder {
    color: #33363a;
  }
}

/* Signup 2 Specific */

.signup-2 {
  .signup-form-container {
    padding: 0;
    background-color: transparent;
    border-radius: 0.3rem;
  }
  .form-element {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;
    color: #fff;
    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: transparent;
      color: #fff;
    }
    &.required-field {
      &:focus {
        background: rgba(255, 255, 255, 0.2);
        border-color: transparent;
        color: #fff;
      }
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.5);
      box-shadow: none;
      position: relative;
    }
  }
  .form-response {
    width: 100%;
    color: #fff;
  }
  .signup-form-container .form-response {
    bottom: -0.5rem;
  }
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  :focus::-webkit-input-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  :focus::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  :focus:-ms-input-placeholder {
    color: #fff;
  }
}

/* Create Acc. Specific */
@media only screen and (min-width: 768px) {
  .create-account.horizontal .form-submit {
    position: relative;
    top: 2.9rem;
  }
}

.tm-lightbox .create-account .form-submit, .tm-slider-container .create-account .form {
  top: 0;
}

.tms-caption {
  &.create-account {
    padding: 1.5rem 3.5rem;
    display: block !important;
  }
  .form-response {
    bottom: 1rem;
  }
}

/* Login Specific */

.header {
  .dropdown-list {
    h5 {
      color: #fff;
    }
    .recuperate-password {
      font-size: 1.1rem;
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  .login-form-container {
    .form-element {
      background-color: #333;
      border: 1px solid #333;
      color: #999;
      &:focus {
        background-color: #444;
        border-color: #444;
        color: #fff;
      }
      &.required-field {
        border-color: #999;
        color: #fff;
        &:focus {
          border-color: #444;
          color: #fff;
        }
      }
    }
    .form-response, ::-webkit-input-placeholder {
      color: #999;
    }
    :focus::-webkit-input-placeholder {
      color: #fff;
    }
    ::-moz-placeholder {
      color: #999;
    }
    :focus::-moz-placeholder {
      color: #fff;
    }
    :-ms-input-placeholder {
      color: #999;
    }
    :focus:-ms-input-placeholder {
      color: #fff;
    }
  }
}

/* Footer Specific */

.footer {
  .form-element, textarea {
    background-color: transparent;
    border-color: #33363a;
    margin-bottom: 2rem;
    color: #666;
  }
  .form-element:focus, textarea:focus {
    background-color: transparent;
    border-color: #33363a;
    box-shadow: none;
    color: #fff;
  }
  .form-element.required-field, textarea.required-field {
    background-color: transparent;
    border-color: #3fb58b;
    color: #fff;
  }
  .form-element.required-field:focus, textarea.required-field:focus {
    background-color: transparent;
    border-color: #33363a;
    box-shadow: none;
    color: #fff;
  }
}

.footer-light {
  .form-element, textarea {
    border-color: #ddd;
  }
  .form-element:focus, textarea:focus {
    border-color: #3fb58b;
    color: #33363a;
  }
  .form-element.required-field, textarea.required-field {
    color: #33363a;
  }
  .form-element.required-field:focus, textarea.required-field:focus {
    border-color: #ddd;
    color: #33363a;
  }
}

.footer {
  .signup-form-container .button {
    width: auto;
  }
  .form-response {
    color: #666;
    font-size: 1rem;
  }
  ::-webkit-input-placeholder {
    color: #7a7d84;
  }
  :focus::-webkit-input-placeholder {
    color: #fff;
  }
  ::-moz-placeholder {
    color: #7a7d84;
  }
  :focus::-moz-placeholder {
    color: #fff;
  }
  :-ms-input-placeholder {
    color: #7a7d84;
  }
  :focus:-ms-input-placeholder {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .footer .signup-form-container .button {
    width: 12rem;
  }
}

.footer-light :focus {
  &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: #33363a;
  }
}

/* Disabled */

.disabled {
  opacity: 0.6;
  background-color: transparent !important;
  border-color: #eee !important;
  color: #999 !important;
  &:hover {
    opacity: 0.6;
    background-color: transparent;
    border-color: #eee;
  }
}

/*------------------------------------------------------------------
[22. Social Lists]
*/

.social-list li {
  font-size: 1rem;
  text-transform: none;
  font-weight: 700;
  a, &.social-list-label {
    color: #33363a;
  }
}

/*------------------------------------------------------------------
[23. Footer]
*/

/* Footer Text */

.footer {
  .widget, address {
    font-size: 1.4rem;
    color: #fff;
    text-transform: none;
    font-style: normal;
  }
}

.footer-top a:not(.button) {
  font-size: 1.4rem;
  color: #fff;
}

.footer-bottom a {
  font-size: 1.1rem;
  color: #fff;
}

.footer-light .footer-bottom a {
  color: #fff;
}

.footer {
  .copyright, .scroll-to-top {
    margin-bottom: 1rem !important;
    font-size: 1.1rem !important;
    float: none;
  }
  .widget li {
    padding-top: 0;
    border: none;
    border-color: #eee;
  }
  .post-info {
    margin-top: 0;
    color: #fff;
  }
  .post-date {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: none;
  }
  width: 100%;
  background: #0f3258;
  color: #fff;
}

/* Footer Widgets */

/* Footer Background */

.footer-light {
  background: #fff;
}

.footer {
  [class*="content-grid"] {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .grid-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.footer-top {
  background-color: transparent;
  .footer-logo {
    width: 9rem;
    margin-bottom: 3rem !important;
  }
}

.footer .footer-bottom {
  padding: 0  0 0 0;
  background-color: transparent;
  border-top: 1px solid #33363a;
}

.footer-light .footer-bottom {
  border-top: 1px solid #eee;
}

.footer {
  .footer-bottom-inner {
    border: none;
  }
  .footer-bottom {
    color: #fff;
    a {
      color: #fff;
    }
  }
}

.footer-bottom .footer-logo {
  width: 6.5rem;
  margin-bottom: 1rem;
  margin-right: 1.4rem;
  line-height: 1.7;
}

/* Footer Navigation */

.footer {
  .navigation {
    li, ul li a {
      padding: 0;
      display: inline-block;
      float: none;
    }
    a {
      font-size: 1.1rem;
      font-weight: normal;
      color: #5d6066;
      text-transform: none;
      letter-spacing: 0.1rem;
    }
  }
  .social-list a {
    font-size: 1.1rem;
    font-weight: normal;
    color: #5d6066;
    text-transform: none;
    letter-spacing: 0.1rem;
  }
  .footer-bottom {
    .navigation, .social-list {
      float: none;
    }
  }
}

/*------------------------------------------------------------------
[24. Sidebar]
*/

/* Sidebar Widgets */

.sidebar {
  .widget {
    font-size: 1.2rem;
    a {
      font-size: 1.2rem;
    }
    .tag-cloud a {
      font-size: 1rem;
      border-radius: 0.3rem;
    }
    li {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    .list-group li {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    ul {
      margin-bottom: 5rem;
    }
  }
  .post-date {
    font-size: 1rem;
    font-weight: 700;
    text-transform: none;
  }
}

/*------------------------------------------------------------------
[25. Dividers]
*/

hr, .divider {
  border-color: #eee;
}

.page-intro .divider, .intro-title-2 .divider {
  border-color: rgba(255, 255, 255, 0.1);
}

.text-line {
  width: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition-property: width, opacity, background-color, transform;
  -moz-transition-property: width, opacity, background-color, transform;
  -o-transition-property: width, opacity, background-color, transform;
  transition-property: width, opacity, background-color, transform;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
}

a {
  &.animated-link:hover .text-line, &.overlay-link:hover .text-line {
    width: 2rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.mobile .text-line, a.disabled .text-line {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

[class*="border-"].thick {
  border-width: 0.2rem;
  * {
    border-width: 0.2rem;
  }
}

/*------------------------------------------------------------------
[26. Media Element Player]
*/

.mejs-container.mejs-audio .mejs-controls {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
  background: rgba(255, 255, 255, 0.9);
}

.mejs-container.mejs-audio .mejs-controls {
  background: #f9f9f9;
}

.mejs-minimal-player .mejs-container .mejs-controls {
  background: none;
}

/* Time track, vol track */

.mejs-controls {
  .mejs-time-rail .mejs-time-loaded, .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    background: #999;
  }
  .mejs-time-rail .mejs-time-current, .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #666;
  }
  .mejs-volume-button .mejs-volume-slider {
    .mejs-volume-current {
      background: #666;
    }
    .mejs-volume-handle {
      background: #fff;
    }
  }
}

/* Time track, vol level track */

.mejs-minimal-player .mejs-controls {
  .mejs-time-rail {
    .mejs-time-total, .mejs-time-current {
      background: #fff;
    }
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    background: #fff;
  }
}

/* Tooltip */

.mejs-controls .mejs-time-rail .mejs-time-float {
  background: #33363a;
}

/* Play Button */

.mejs-container.mejs-audio .mejs-controls {
  .mejs-play, .mejs-pause {
    background: #eee;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.mejs-minimal-player .mejs-container .mejs-controls {
  .mejs-play, .mejs-pause {
    background: none;
  }
}

/* Time */

.mejs-container .mejs-controls .mejs-time span {
  color: #666;
}

.mejs-minimal-player .mejs-container .mejs-controls .mejs-time span {
  color: #fff;
}

/*------------------------------------------------------------------
[27. E-Commerce]
*/

/* Grid */

.shop .products .product h3.product-title {
  font-size: 2rem;
}

.product-title a {
  color: #33363a;
}

.shop {
  .products .product .product-price {
    font-size: 1.2rem;
  }
  .grid-filter-options-inner {
    border-color: #eee;
  }
  .products .product {
    .product-thumbnail {
      .product-actions {
        .add-to-cart-button {
          width: auto;
        }
        width: auto;
        padding: 0 1rem 1rem 1rem;
        opacity: 0;
        right: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transform: translateX(5rem) translateY(0);
        transform: translateX(5rem) translateY(0);
      }
      &:hover .product-actions {
        opacity: 1;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
      }
    }
    .onsale {
      background-color: #3fb58b;
      border-radius: 0.3rem;
    }
  }
}

/* Shop Overlay Add Cart Button */

/* Shop Overlay Tags */

.single-product .product .onsale {
  background-color: #3fb58b;
  border-radius: 0.3rem;
}

.shop .products .product .outofstock, .single-product .product .outofstock {
  background-color: #232323;
  border-radius: 0.3rem;
}

/* Tables */

.shop {
  .table {
    td, th {
      padding: 2rem 1.6rem;
    }
  }
  .cart-overview {
    .table {
      border-collapse: collapse;
      > thead {
        background-color: transparent;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
        text-transform: none;
      }
    }
    table, td {
      border-color: #eee;
    }
  }
  .cart-totals th {
    border-color: #eee;
  }
}

.widget .cart-subtotal, .single-product .review-comments, .checkout .cart-overview hr {
  border-color: #eee;
}

.single-product {
  .review-comments .comment-list > li, .products-similar hr, .review-comments {
    margin-bottom: 5rem;
  }
}

.cart .cart-review {
  margin-bottom: 5rem;
}

.checkout {
  .cart-review, .cart-overview hr {
    margin-bottom: 5rem;
  }
}

.cart .cart-review .cart-coupon-form {
  min-width: 40%;
}

/* Shop Buttons */

.product-actions li {
  margin-right: 0;
}

/* Widgets */

.sidebar .widget .product-list li {
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
}

.widget .cart-overview a.product-remove {
  background-color: #eee;
}

/* Star Rating */

.product-rating .icon-star, .product-list .icon-star, .review-star-rating .icon-star {
  color: #3fb58b;
}

/* Single Product Page */

.single-product {
  .review-comments {
    padding-bottom: 5rem;
  }
  .products-similar hr {
    margin-top: 2rem;
  }
  .product-tabs .tab-panes {
    padding-top: 5rem !important;
  }
  .product-summary {
    .product-rating {
      font-size: 1.2rem;
    }
    .product-price {
      ins, del {
        font-size: 3rem;
        font-weight: 700;
        position: relative;
        top: -0.6rem;
      }
    }
  }
}

.product-summary .product-title {
  font-size: 3.5rem;
}

.product-meta {
  font-size: 1.2rem;
}

/* Cart Overview */

.cart .cart-overview .product-remove a {
  background-color: #eee;
}

/* Hero */

.hero-5-shop-1 .media-column {
  background-image: url(../images/shop/hero-half-1.jpg);
}

.hero-5-shop-2 .media-column {
  background-image: url(../images/shop/hero-half-2.jpg);
}

/*------------------------------------------------------------------
[27. Component Styling]
*/

/* Button */

.button {
  text-transform: none;
  &.medium {
    text-transform: none;
  }
}

.button-content {
  line-height: 1;
}

.shop {
  .product .button, .cart-overview .button {
    background-color: #33363a;
    border-color: #33363a;
    color: #fff;
  }
}

.overlay-link + .product-actions .button {
  background-color: #fff;
  border-color: #fff;
  color: #33363a;
}

.overlay-info .button {
  background-color: #fff;
  border-color: #fff;
  color: #33363a;
  &:hover {
    background-color: #3fb58b;
    border-color: #3fb58b;
    color: #fff;
  }
}

.shop {
  .cart-overview .button:hover, .product .button:hover {
    background-color: #3fb58b;
    border-color: #3fb58b;
    color: #fff;
  }
}

/* Scroll Links */

.icon-circled {
  &.medium {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
  }
  &.small {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
  }
}

/* Box */

.box {
  font-size: inherit !important;
  line-height: inherit !important;
}

/* Blockquote */

blockquote {
  &.border {
    border-color: #ccc;
  }
  cite {
    font-size: 1rem;
    font-weight: 700;
    text-transform: none;
    color: inherit;
    font-style: normal;
    opacity: 1;
  }
}

/* Feature Section */

.feature-2 .feature-image img {
  width: 90%;
}

/* Logo Section */

.logos-1 {
  a {
    opacity: 1;
    &:hover {
      opacity: 1;
    }
    padding: 2rem 0;
  }
  span {
    padding: 2rem 0;
  }
}

/* Clients Section */

.clients-1 {
  .client-name {
    text-transform: none;
    font-weight: 700;
    font-size: 1.4rem;
    opacity: 0.5;
  }
  .counter {
    font-size: 10rem;
    margin-bottom: 0;
  }
}

/* Profile Image */

.profile-image {
  &.pull-left {
    margin-right: 3.5rem;
    margin-bottom: 2rem;
  }
  &.pull-right {
    margin-left: 3.5rem;
    margin-bottom: 2rem;
  }
}

/* Hero Sections */

.hero-1, .hero-2, .hero-3, .hero-4, .hero-5, .hero-6 {
  height: 50rem;
}

[class*="hero-"] {
  &.small {
    height: 30rem;
  }
  &.window-height {
    height: 100vh;
    min-height: 100vh;
  }
}

.hero-3 {
  .hero-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgba(255, 255, 255, 1);
    border-color: #3fb58b !important;
  }
  &.middle .hero-content {
    border-radius: 0.3rem;
  }
}

.hero-5 .center .tms-pagination {
  text-align: center;
}

.hero-box {
  padding: 5rem;
  background-color: rgba(255, 255, 255, 1);
  border-color: transparent;
  overflow: visible;
  border-radius: 0.3rem;
}

.signup-box {
  padding: 5rem;
  background-color: rgba(255, 255, 255, 1);
  border-color: transparent;
  overflow: visible;
  border-radius: 0.3rem;
  .form-response {
    bottom: auto;
  }
}

/* Stats */

[class*="stats-"] {
  .counter {
    margin-bottom: 1rem;
    font-size: 4.5rem;
    font-weight: 400;
    &.xlarge {
      font-size: 6.5rem;
    }
  }
  .description {
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 400;
    color: #33363a;
  }
}

.stats-3 {
  .mega-stat .counter {
    font-weight: normal;
    font-size: 7rem;
  }
  .description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .mega-stat .description {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.maintenance-stat .counter {
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1;
}

/* Bar percentages */

.percent-10 {
  width: 10%;
}

.percent-20 {
  width: 20%;
}

.percent-30 {
  width: 30%;
}

.percent-40 {
  width: 40%;
}

.percent-50 {
  width: 50%;
}

.percent-60 {
  width: 60%;
}

.percent-70 {
  width: 70%;
}

.percent-80 {
  width: 80%;
}

.percent-90 {
  width: 90%;
}

.percent-10 {
  width: 100%;
}

/* Sizes */

.progress-bar {
  border: none;
  .bar {
    padding: 0 0.5rem;
    font-weight: 400;
  }
  &.small {
    height: 0.4rem;
  }
  height: 0.8rem;
  &.medium {
    height: 0.8rem;
  }
  &.large {
    height: 1.3rem;
    line-height: 1rem;
    font-size: 1rem;
  }
  &.xlarge {
    height: 1.6rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
}

/* Accordion */

.accordion {
  > ul > li {
    > a {
      padding: 1.3rem 2.5rem;
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color: #969aa1;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: none;
    }
    &.active > a {
      border-color: transparent;
      background-color: #33363a;
      color: #fff;
      &:hover {
        border-color: transparent;
        background-color: #33363a;
        color: #fff;
      }
    }
    > a:hover {
      border-color: transparent;
      background-color: #ddd;
    }
  }
  .accordion-content {
    padding: 3rem;
  }
  &.style-1 {
    > ul > li {
      > a {
        background-color: transparent;
        border-color: #eee;
        color: #969aa1;
      }
      &.active > a {
        background-color: transparent;
        border-color: #eee;
        color: #3fb58b;
        &:hover {
          background-color: transparent;
          border-color: #eee;
          color: #3fb58b;
        }
      }
      > div {
        border: none;
      }
    }
    .accordion-content {
      border: none;
    }
  }
  &.style-2 {
    > ul > li {
      > a {
        padding: 1.3rem 0;
        border: none;
        font-weight: 400;
        background-color: transparent;
        border-bottom: 1px solid #eee;
        color: #666;
      }
      &.active > a {
        background-color: transparent;
        border-color: transparent;
        color: #3fb58b;
        &:hover {
          background-color: transparent;
          border-color: transparent;
          color: #3fb58b;
        }
      }
    }
    .accordion-content {
      padding: 1rem 0 3rem 0;
      border: none;
    }
    > ul > li {
      > div {
        border: none;
      }
      &.active > div {
        border-bottom: 1px solid #eee;
      }
    }
  }
}

/* style 1 */

/* style 2 */

/* Tabs */

.tabs {
  .tab-nav > li {
    a {
      padding: 1.3rem 2.5rem;
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color: #969aa1;
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: none;
      &:hover {
        background-color: #ddd;
        border-color: #ddd;
      }
    }
    margin: 0;
  }
  &.vertical .tab-nav > li {
    margin: 0;
  }
  .tab-nav > li.active a {
    color: #33363a;
    &:hover {
      color: #33363a;
    }
  }
  .tab-panes {
    padding: 3rem;
  }
  &[class*="style-"] {
    .tab-nav > li {
      margin: 0 !important;
    }
    .tab-panes {
      border: none;
    }
    &:not(.style-3) .tab-panes {
      padding: 5rem 0 0 0;
      border: none;
      background: none;
    }
  }
}

.tab-panes > div.active {
  overflow: visible;
}

.tabs {
  &.style-1.vertical.right .tab-panes, &.style-2.vertical.right .tab-panes {
    padding-right: 2.5rem;
    margin: 0 !important;
  }
  &.style-1 {
    &.vertical {
      .tab-nav > li, &.right .tab-nav > li {
        margin-bottom: 0;
      }
    }
    .tab-nav > li a, &.vertical .tab-nav > li a {
      background-color: #f4f4f4;
      border: none;
      color: #969aa1;
    }
    .tab-nav > li {
      a:hover {
        background-color: #ddd;
        border: none;
        color: #666;
      }
      &.active a {
        margin-right: 0;
        border: none;
        background-color: #33363a;
        color: #fff;
        &:hover {
          margin-right: 0;
          border: none;
          background-color: #33363a;
          color: #fff;
        }
      }
    }
    &.vertical.right .tab-nav > li.active a {
      margin-right: 0;
      border: none;
      background-color: #33363a;
      color: #fff;
      &:hover {
        margin-right: 0;
        border: none;
        background-color: #33363a;
        color: #fff;
      }
    }
  }
  &.style-2 {
    .tab-nav > li a {
      background-color: transparent;
      border-width: 0 0 1px 0;
      border-color: #eee;
      color: #969aa1;
    }
    &.vertical {
      .tab-nav > li a, &.right .tab-nav > li a {
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-color: #eee;
        color: #969aa1;
      }
    }
    &:not(.vertical) .tab-panes {
      border-top: 1px solid #eee;
    }
    .tab-nav > li.active a {
      background-color: transparent;
      border-width: 0 0 1px 0;
      border-color: #3fb58b;
      color: #33363a;
      &:hover {
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-color: #3fb58b;
        color: #33363a;
      }
    }
    &.vertical {
      .tab-nav > li.active a, &.right .tab-nav > li.active a {
        background-color: transparent;
        border-width: 0 0 1px 0;
        border-color: #3fb58b;
        color: #33363a;
      }
    }
  }
  &.style-3 {
    .tab-nav > li a {
      background-color: transparent;
      border-width: 0;
      color: #969aa1;
    }
    &.vertical {
      .tab-nav > li a, &.right .tab-nav > li a {
        background-color: transparent;
        border-width: 0;
        color: #969aa1;
      }
    }
    .tab-panes {
      background-color: transparent;
      border-width: 0;
      color: #969aa1;
    }
    .tab-nav > li.active a {
      background-color: transparent;
      border: none;
      color: #33363a;
      &:hover {
        background-color: transparent;
        border: none;
        color: #33363a;
      }
    }
    &.vertical {
      .tab-nav > li.active a, &.right .tab-nav > li.active a {
        background-color: transparent;
        border: none;
        color: #33363a;
      }
    }
    &:not(.vertical) .tab-nav > li a {
      padding: 1rem 0;
      margin-right: 3rem;
    }
    &.right:not(.vertical) .tab-nav > li a {
      margin: 0 0 0 3rem;
    }
    .tab-panes {
      padding: 3rem 0 0 0;
    }
  }
  &.style-2.tabs-light .tab-nav > li a, &.style-3.tabs-light .tab-nav > li a {
    color: #fff;
    opacity: 0.6;
    border-color: transparent;
  }
  &.style-2.tabs-light {
    &:not(.vertical) .tab-panes {
      border-color: rgba(255, 255, 255, 0.3);
    }
    .tab-nav > li.active a {
      border-color: #fff;
    }
  }
  &.tabs-light .tab-nav > li.active a {
    color: #fff;
    opacity: 1;
    &:hover {
      color: #fff;
      opacity: 1;
    }
  }
}

/* style 1 */

/* style 2 */

/* style 3 */

@media only screen and (min-width: 768px) {
  .tabs.style-3.center:not(.vertical) .tab-nav > li a {
    margin: 0 1.5rem 0 1.5rem;
  }
}

/* tabs light */

/* animation */

.tab-panes {
  .tab-content {
    -webkit-transition-property: transform, opacity, visibility;
    transition-property: transform, opacity, visibility;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .animate-in .tab-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 480px) {
  .tabs {
    &.style-1.vertical .tab-panes {
      padding: 0 0 0 3.5rem;
      padding: 0 0 0 3.5rem;
      margin: 0 !important;
    }
    &.style-2.vertical .tab-panes {
      padding: 0 0 0 3.5rem;
      margin: 0 !important;
    }
    &.style-1.vertical.right .tab-panes {
      padding: 0 3.5rem 0 0;
      margin: 0 !important;
    }
    &.style-2.vertical {
      &.right .tab-panes {
        padding: 0 3.5rem 0 0;
        margin: 0 !important;
      }
      .tab-nav > li a {
        padding-left: 0;
        border: none;
        border-right: 1px solid #eee;
      }
      &.right .tab-nav > li a {
        padding-left: 2.5rem;
        padding-right: 0;
        border: none;
        border-left: 1px solid #eee;
      }
      .tab-nav > li.active a {
        border: none;
        border-right: 1px solid #3fb58b;
        &:hover {
          border: none;
          border-right: 1px solid #3fb58b;
        }
      }
      &.right .tab-nav > li.active a {
        border: none;
        border-left: 1px solid #3fb58b;
        &:hover {
          border: none;
          border-left: 1px solid #3fb58b;
        }
      }
    }
  }
}

/* Menus */

.menu-list {
  h4 {
    font-size: 1.4rem;
  }
  li:nth-child(even) {
    h4, .menu-description {
      color: #666;
    }
  }
  h4 .menu-line {
    bottom: 1px;
  }
  .menu-content .menu-line {
    bottom: 8px;
  }
}

.menu-item {
  .menu-title, .menu-description, .menu-price {
    background: none;
  }
  &.dotted {
    .menu-title, .menu-description, .menu-price {
      background-color: #fff;
    }
  }
  &.dashed {
    .menu-title, .menu-description, .menu-price {
      background-color: #fff;
    }
  }
}

.dotted .menu-line {
  background-image: radial-gradient(circle closest-side, #ccc 99%, rgba(0, 0, 0, 0) 0%);
}

.dashed .menu-line {
  background-image: linear-gradient(to right, #ccc 50%, rgba(0, 0, 0, 0) 0%);
}

/* Timeline */

.timeline {
  &.vertical-indication {
    .timeline-title:after {
      border: 4px solid #3fb58b;
      background-color: #3fb58b;
      z-index: 1;
    }
    .timeline-description:before {
      background-color: #eee;
    }
  }
  li {
    &:first-child .timeline-description:before {
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
    }
    &:nth-child(2) .timeline-description:before {
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
      top: 0;
      bottom: -1.1rem;
    }
  }
  &.vertical-indication .timeline-description:before {
    width: 1.2rem;
    left: -0.1rem;
    top: -0.1rem;
  }
}

@media only screen and (max-width: 768px) {
  .timeline.vertical-indication {
    .timeline-title:before {
      background-color: #eee;
    }
    .timeline-description:before, .timeline-title:before {
      width: 1.2rem;
      left: 1.4rem;
    }
  }
}

/* Pricing Tables */

.pricing-table-column.callout {
  box-shadow: 0rem 0rem 1.8rem rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  &.with-background-image {
    background-image: url(../images/generic/pricing-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    > * {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

/* style 1 */

.pricing-table {
  &.style-1 {
    .pricing-table-column {
      text-align: left;
    }
    .pricing-table-header h2 {
      font-size: 1.5rem;
    }
    .pricing-table-price h4 {
      font-weight: 400;
    }
    .button {
      width: 100%;
      text-align: center;
    }
  }
  &.style-2 {
    .pricing-table-column * {
      text-align: center;
    }
    .pricing-table-header h2 {
      font-size: 1.5rem;
    }
    .interval {
      display: block;
    }
    .currency {
      font-weight: 400;
    }
  }
}

/* style-2 */

/* Breadcrumb */

.breadcrumb li {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: none;
  a {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: none;
  }
}

.intro-title-2 .breadcrumb, .page-intro .breadcrumb, .intro-title-2 .breadcrumb a, .page-intro .breadcrumb a {
  color: #fff;
}

.intro-title-2 .breadcrumb a, .page-intro .breadcrumb a {
  opacity: 0.6;
}

.intro-title-2 .breadcrumb a:hover, .page-intro .breadcrumb a:hover {
  opacity: 1;
}

/*------------------------------------------------------------------
[28. Resolution Media Queries]
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* Intro Sections */
  .intro-title-2 {
    background-image: url(../images/slider/slide-1-page-intro@2x.jpg);
  }
  .intro-title-2-1 {
    background-image: url(../images/slider/slide-2-page-intro@2x.jpg);
  }
  .intro-title-2-2 {
    background-image: url(../images/slider/slide-3-page-intro@2x.jpg);
  }
  .intro-title-2-3 {
    background-image: url(../images/slider/slide-4-page-intro@2x.jpg);
  }
  .intro-title-2-4 {
    background-image: url(../images/slider/slide-5-page-intro@2x.jpg);
  }
  /* Fullscreen Sections */
  .fullscreen-bkg-1 {
    background-image: url(../images/slider/fs-section-1@2x.jpg);
  }
  .fullscreen-bkg-2 {
    background-image: url(../images/slider/fs-section-2@2x.jpg);
  }
  .fullscreen-bkg-3 {
    background-image: url(../images/slider/fs-section-3@2x.jpg);
  }
  .fullscreen-bkg-4 {
    background-image: url(../images/slider/fs-section-4@2x.jpg);
  }
  .fullscreen-bkg-5 {
    background-image: url(../images/slider/fs-section-5@2x.jpg);
  }
  .fullscreen-contact-bkg-1 {
    background-image: url(../images/contact/fs-section-1@2x.jpg);
  }
  /* Stat Sections */
  .stats-1-1 {
    background-image: url(../images/team/hero-2@2x.jpg);
  }
  /* Hero Sections */
  .hero-2-intro-1 {
    background-image: url(../images/generic/hero-homepage@2x.jpg);
  }
  .hero-2-startup-1 {
    background-image: url(../images/generic/hero-startup-1@2x.jpg);
  }
  .hero-2-product-1 {
    background-image: url(../images/generic/hero-product-3-1@2x.jpg);
  }
  .hero-2-about-1 {
    background-image: url(../images/team/hero-1@2x.jpg);
  }
  .hero-2-about-2 {
    background-image: url(../images/team/hero-2@2x.jpg);
  }
  .hero-2-app-1 {
    background-image: url(../images/generic/hero-app-1@2x.jpg);
  }
  .hero-2-app-2 {
    background-image: url(../images/generic/hero-app-3@2x.jpg);
  }
  .hero-5-about-1 .media-column {
    background-image: url(../images/team/hero-half-1@2x.jpg);
  }
  .hero-5-about-2 .media-column {
    background-image: url(../images/team/hero-half-2@2x.jpg);
  }
  .hero-2-services-1, .hero-3-services-1 {
    background-image: url(../images/services/hero-2@2x.jpg);
  }
  .hero-3-signup-1 {
    background-image: url(../images/generic/signup-1@2x.jpg);
  }
  .hero-3-signup-2 {
    background-image: url(../images/generic/signup-2@2x.jpg);
  }
  .hero-3-app-1 {
    background-image: url(../images/generic/hero-app-2@2x.jpg);
  }
  .hero-3-shop-1 {
    background-image: url(../images/generic/hero-shop-1@2x.jpg);
  }
  .hero-4-services-1 {
    background-image: url(../images/services/hero-2@2x.jpg);
  }
  .hero-5-services-1 .media-column {
    background-image: url(../images/services/hero-half-1@2x.jpg);
  }
  .hero-5-services-2 .media-column {
    background-image: url(../images/services/hero-half-2@2x.jpg);
    + .media-column {
      background-image: url(../images/services/hero-half-2-1@2x.jpg);
    }
  }
  .hero-5-contact-1 .media-column {
    background-image: url(../images/contact/hero-half-1@2x.jpg);
    + .media-column {
      background-image: url(../images/contact/hero-half-1-2@2x.jpg);
    }
  }
  .hero-5-shop-1 .media-column {
    background-image: url(../images/shop/hero-half-1@2x.jpg);
  }
  .hero-5-shop-2 .media-column {
    background-image: url(../images/shop/hero-half-2@2x.jpg);
  }
  .hero-5-app-1 .media-column {
    background-image: url(../images/generic/hero-half-2@2x.jpg);
  }
  /* Call to Action Sections */
  .call-to-action-2-product-2 {
    background-image: url(../images/generic/call-to-action-1@2x.jpg);
  }
  /* Signup */
  .signup-2-about-1 {
    background-image: url(../images/generic/signup-1@2x.jpg);
  }
  .signup-2-app-1 {
    background-image: url(../images/generic/signup-2@2x.jpg);
  }
  .signup-2-product-1 {
    background-image: url(../images/generic/signup-3@2x.jpg);
  }
  .signup-2-shop-1 {
    background-image: url(../images/generic/signup-4@2x.jpg);
  }
}
.table-b-l-1{
    border-left: 1px solid #eee!important;
}
.video{
  position:relative;
  width:100%;
  padding-top:56.25%;
}
.video iframe{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
}
